/* app.css or any main css file */
:root {
  --primary-color: #4ab8b5; /* Tailwind's green-700 */
  --secondary-color: #7dba33; /* Tailwind's green-600 */
  --text-dark: #1f2937; /* Tailwind's gray-800 */
  --text-light: #6b7280; /* Tailwind's gray-500 */
}

.hexagon {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
